@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  /* color */
  --color-primary: 23, 105, 255;
  --color-gray-100: 0, 0, 0; /* #000000 */
  --color-gray-200: 23, 23, 25; /* #171719 */
  --color-gray-300: 71, 72, 76; /* #47484c */
  --color-gray-400: 133, 133, 136; /* #858588 */
  --color-gray-500: 199, 200, 201; /* #c7c8c9 */
  --color-gray-600: 223, 223, 224; /* #dfdfe0 */
  --color-gray-700: 255, 255, 255; /* #ffffff */
  --bg-gray-100: 243, 244, 246; /* #F3F4F6 */
  --bg-gray-200: 247, 247, 248; /* #f7f7f8 */
  --line-gray-100: 224, 224, 226; /* #E0E0E2 */
  --line-gray-200: 232, 232, 234; /* #E8E8EA */
  --line-gray-300: 244, 244, 245; /* #f4f4f5 */
  --color-inter-default: 152, 155, 162; /* #989ba2 */
  --color-success: 0 191 64; /* #00bf40 */
  --color-warning: 255, 146, 0; /* #ff9200 */
  --color-error: 255 66 66; /* #ff4242 */

  /* font size */
  --fs-xs: 12px;
  --fs-sm: 13px;
  --fs-md: 14px;
  --fs-lg: 16px;
  --fs-xl: 18px;
  --fs-2xl: 20px;
  --fs-3xl: 24px;

  /* font weight */
  --fw-400: 400;
  --fw-700: 700;
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('/fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('/fonts/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('/fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('/fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2'), url('/fonts/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('/fonts/SpoqaHanSansNeo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@layer base {
  html {
    margin: 0;
    padding: 0;
    background-color: #f7f7f8;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

  body {
    line-height: 1.5;
    letter-spacing: -0.32px;
    color: #171719;
    font-family: 'SpoqaHanSansNeo', sans-serif;
    user-select: none;
  }
}

@layer components {
  .post-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 3px;
  }
}

.input {
  @apply w-full px-3 py-[14px] text-sm border border-line-light rounded-lg placeholder-lightGray focus:outline-none focus:border-primary-main;
}

.textarea {
  @apply input resize-none;
}

@keyframes slideUp {
  from {
    transform: translateY(50%);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes bounce-tooltip {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.slideUp {
  animation: slideUp 0.5s forwards;
}

.fadeOut {
  animation: fadeOut 0.4s forwards;
}

.animate-bounce-tooltip {
  animation: bounce-tooltip 1s ease-in-out forwards;
}
