@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  /* color */
  --color-primary: 23, 105, 255; /* #1769FF */

  --color-label-100: 255, 255, 255; /* #ffffff */
  --color-label-200: 223, 223, 224; /* #dfdfe0 */
  --color-label-300: 199, 200, 201; /* #c7c8c9 */
  --color-label-400: 133, 133, 136; /* #858588 */
  --color-label-500: 71, 72, 76; /* #47484c */
  --color-label-600: 23, 23, 25; /* #171719 */
  --color-label-700: 0, 0, 0; /* #000000 */

  --bg-gray-100: 247, 247, 248; /* #f7f7f8 */
  --bg-gray-200: 244, 244, 245; /* #f4f4f5 */

  --line-gray-100: 244, 244, 245; /* #f4f4f5 */
  --line-gray-200: 232, 232, 234; /* #E8E8EA */
  --line-gray-300: 224, 224, 226; /* #E0E0E2 */

  --color-success: 0 191 64; /* #00bf40 */
  --color-warning: 255, 146, 0; /* #ff9200 */
  --color-error: 255 66 66; /* #ff4242 */

  /* font size */
  --fs-xs: 12px;
  --fs-sm: 13px;
  --fs-md: 14px;
  --fs-lg: 16px;
  --fs-xl: 18px;
  --fs-2xl: 20px;
  --fs-3xl: 24px;

  /* font weight */
  --fw-400: 400;
  --fw-700: 700;
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  src:
    url('/fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('/fonts/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('/fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SpoqaHanSansNeo';
  src:
    url('/fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    url('/fonts/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('/fonts/SpoqaHanSansNeo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@layer base {
  html {
    margin: 0;
    padding: 0;
    background-color: #f7f7f8;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

  body {
    line-height: 1.5;
    letter-spacing: -0.32px;
    color: #171719;
    font-family: 'SpoqaHanSansNeo', sans-serif;
    user-select: none;
  }
}

.input {
  @apply w-full px-3 py-[14px] text-sm border border-line-light rounded-lg placeholder-lightGray focus:outline-none focus:border-primary-main;
}

.textarea {
  @apply input resize-none;
}
